.contactus-container {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.contactus-card {
	width: 600px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	margin: 10px;
}

.waves {
	height: 80px;
	background: linear-gradient(to bottom left, #ed235c, #e72);
}

h1 {
	margin: 2rem 2rem 0;
	font-size: 1.62rem;
}

.contactus-form {
	padding: 2rem;
}

.contactus-button {
	display: block;
	width: 100%;
	background-color: #ed235c;
	border: none;
	border-radius: 3px;
	padding: 1ch;
	font-size: 1.2rem;
	color: #fff;
	font-family: inherit;
}

.text-input {
	position: relative;
	margin-bottom: 1rem;
}
.text-input label {
	position: absolute;
	top: 1ch;
	left: 1ch;
	padding: 0 0.5ch;
	pointer-events: none;
	transition: 150ms ease;
	color: #888;
}
.text-input label.label-focus {
	position: absolute;
	top: 0;
	font-size: 0.9em;
	color: #ed235c;
	font-weight: bold;
	transform: translateY(-50%);
	background-color: #fff;
	font-weight: 600;
}
.text-input input {
	display: block;
	width: 100%;
	border: 2px solid #eee;
	padding: 1ch;
	border-radius: 3px;
	transition: 150ms ease;
	outline: none;
	font-size: 1rem;
	font-family: inherit;
}
.text-input input.input-focus {
	border-color: #ed235c;
}

.text-area {
	position: relative;
	margin-bottom: 1rem;
}
.text-area label {
	position: absolute;
	top: 1ch;
	left: 1ch;
	padding: 0 0.5ch;
	pointer-events: none;
	transition: 150ms ease;
	color: #888;
}
.text-area label.label-focus {
	position: absolute;
	top: 0;
	font-size: 0.9em;
	color: #ed235c;
	font-weight: bold;
	transform: translateY(-50%);
	background-color: #fff;
	font-weight: 600;
}
.text-area textarea {
	display: block;
	width: 100%;
	border: 2px solid #eee;
	padding: 1ch;
	border-radius: 3px;
	transition: 150ms ease;
	outline: none;
	font-size: 1rem;
	font-family: inherit;
	height: 8em;
}
.text-area textarea.input-focus {
	border-color: #ed235c;
}
